/* reset */

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    background-color: rgb(176, 177, 173);
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-header {
    width: 60%;
}
.nav-header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-header ul li {
    float: right;
}
.main-body-header, .main-body {
    display: flex;
    align-items: center;
}

.main-body-header {
    justify-content: space-between;
}

.main-body {
    justify-content: space-between
}

.nav {
    float: left;
}